.mf-theme-login {
    .mf-theme-login-logo {
        .mf-login-logo {
            background-image: none;
        }

        .mf-theme-login-logo-name {
            display: block;
            width: 95% !important;
            left: auto !important;
            right: auto !important;
            margin-top: -30px !important;
            margin-left: auto !important;
            margin-right: auto !important;
            background-image: none;
        }
    }
}

.mf-theme-header {
    .mf-theme-header-logo {
        height: 20px;
        margin-top: 14px;
        background-image: none;
    }
}
